/* Styles for light mode */
.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  .light h1 {
    color: #000000;
  }
  
  .light button {
    background-color: #ffffff;
    color: #000000;
  }
  